---
layout: page
---
<%
var allExamples = [];
for (item of collections.all) {
    if (item.data.category == 'examples' && item.url != '/examples/') {
        allExamples.push(item);
    }
}
allExamples.sort(function(a, b) {
    return a.filePathStem.localeCompare(b.filePathStem);
});
var exampleMenus = [];
for (item of allExamples) {
    var aMenu = item.data.menu;
    if (aMenu && exampleMenus.indexOf(aMenu) == -1) {
        exampleMenus.push(aMenu);
    }
}
%>
<div class="page-container">
    <div class="sidebar-left">
        <% if (page.url != '/examples/') { %>
        <aside class="sidebar">
            <ul>
            <% for (aMenu of exampleMenus) { %>
                <%
                var isActiveMenu = false;
                for (item of allExamples) {
                    if (item.url == page.url && item.data.category == 'examples' && item.url != '/examples/' && item.data.menu == aMenu) {
                        isActiveMenu = true;
                        break;
                    }
                }
                %>
                <li class="menu-title<%= isActiveMenu ? ' selected' : '' %>"><%= aMenu %></li>
                <li class="<%= isActiveMenu ? 'expanded' : '' %>">
                    <ul>
                        <%
                        for (item of allExamples) {
                            console.log(item.data.title + ' / item.data.menu('+item.data.menu+') menu('+aMenu+')');
                            if (item.data.category == 'examples' && item.url != '/examples/' && item.data.menu == aMenu) {
                        %>
                            <li<%- item.url == page.url ? ' class="selected"' : '' %>>
                                <a href="<%= item.url %>"><%= item.data.title %></a>
                            </li>
                        <%
                            }
                        }
                        %>
                    </ul>
                </li>
            <% } %>
            </ul>
        </aside>
        <% } %>
    </div>
    <div class="content-right">
        <main>
            <% if (page.url != '/examples/') { %>
                <h1><%= title %></h1>
                <iframe class="ceramic-sample-iframe" onload="setTimeout(focusSampleIframe, 100);" src="https://ceramic-engine.com/ceramic-samples/<%= sample %>/" width="640" height="480" loading="lazy" frameborder="0"></iframe>
                <div class="caption rectangle">
                <a href="https://ceramic-engine.com/ceramic-samples/<%= sample %>/">Run in full page</a>
                —
                <a href="https://github.com/ceramic-engine/ceramic-samples/tree/master/<%= sample %>">Read full source code on GitHub</a>
                </div>
                <% if (content && content.trim().length > 0) { %>
                <hr />
                <%- content %>
                <% } %>
                <%
                var matchedCurrent = false;
                var matchedNext = false;
                for (item of allExamples) {
                    if (matchedCurrent && item.data.menu == menu) {
                        matchedNext = true;
                        %>
                        <hr />
                        <p>
                            Next example &#10132; <a href="<%= item.url %>"><%= item.data.title %></a>
                        </p>
                        <%
                        break;
                    }
                    else if (item.url == page.url) {
                        matchedCurrent = true;
                    }
                }
                if (!matchedNext) {
                    matchedCurrent = false;
                    var displayedNext = false;
                    for (item of allExamples) {
                        if (matchedCurrent) {
                            displayedNext = true;
                            %>
                            <hr />
                            <p>
                                Next example &#10132; <a href="<%= item.url %>"><%= item.data.title %></a> (<%= item.data.menu %>)
                            </p>
                            <%
                            break;
                        }
                        else if (item.url == page.url) {
                            matchedCurrent = true;
                        }
                    }
                    if (!displayedNext) {
                        %>
                        <hr />
                        <p>
                            &#10132; <a href="/examples">Back to examples list</a>
                        </p>
                        <%
                    }
                }
                %>
            <% } else { %>
                <%- content %>
            <% } %>
            <% if (page.url != '/examples/') { %>
            <hr />
            <div id="like-counter"></div>
            <script src="https://utteranc.es/client.js"
                repo="ceramic-engine/ceramic-comments"
                issue-term="pathname"
                theme="github-dark"
                crossorigin="anonymous"
                async>
            </script>
            <% } %>
        </main>
    </div>
</div>