---
layout: page
---
<%
var allGuides = [];
for (item of collections.all) {
    if (item.data.category == 'guides' && item.url != '/guides/') {
        allGuides.push(item);
    }
}
allGuides.sort(function(a, b) {
    return a.filePathStem.localeCompare(b.filePathStem);
});
var guideMenus = [];
for (item of allGuides) {
    var aMenu = item.data.menu;
    if (aMenu && guideMenus.indexOf(aMenu) == -1) {
        guideMenus.push(aMenu);
    }
}
%>
<div class="page-container">
    <div class="sidebar-left">
        <% if (page.url != '/guides/') { %>
        <aside class="sidebar">
            <ul>
            <% for (aMenu of guideMenus) { %>
                <li><%= aMenu %></li>
                <li>
                    <ul>
                        <%
                        for (item of allGuides) {
                            console.log(item.data.title + ' / item.data.menu('+item.data.menu+') menu('+aMenu+')');
                            if (item.data.category == 'guides' && item.url != '/guides/' && item.data.menu == aMenu) {
                        %>
                            <li<%- item.url == page.url ? ' class="selected"' : '' %>>
                                <a href="<%= item.url %>"><%= item.data.title %></a>
                            </li>
                        <%
                            }
                        }
                        %>
                    </ul>
                </li>
            <% } %>
            </ul>
        </aside>
        <% } %>
    </div>
    <div class="content-right">
        <main>
            <%- content %>
            <% if (page.url != '/guides/') { %>
                <%
                var matchedCurrent = false;
                var matchedNext = false;
                for (item of allGuides) {
                    if (matchedCurrent && item.data.menu == menu) {
                        matchedNext = true;
                        %>
                        <hr />
                        <p>
                            Continue reading &#10132; <a href="<%= item.url %>"><%= item.data.title %></a>
                        </p>
                        <%
                        break;
                    }
                    else if (item.url == page.url) {
                        matchedCurrent = true;
                    }
                }
                if (!matchedNext) {
                    matchedCurrent = false;
                    for (item of allGuides) {
                        if (matchedCurrent) {
                            %>
                            <hr />
                            <p>
                                Continue reading &#10132; <a href="<%= item.url %>"><%= item.data.title %></a> (<%= item.data.menu %>)
                            </p>
                            <%
                            break;
                        }
                        else if (item.url == page.url) {
                            matchedCurrent = true;
                        }
                    }
                }
                %>
            <% } %>
        </main>
    </div>
</div>